@media screen and (max-width:1065px){
    nav{
        flex-direction: column;
    }

    nav .logo{
        justify-content: center; 
        margin-top: 10px;  
    }

    nav ul{
        justify-content: center;
        margin-bottom: 20px;
    }

    nav .searchbar{
        margin: 0 auto;
    }

    nav .login{
        margin: 15px auto;
    }

    nav .cart{
        margin: 0px auto;
    }

}